<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Networking-Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FD6C2FA1C4ABC6200303B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD6C3131C4ABC6300303B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD6C31E1C4ABC6300303B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
